/* Put your code here */

* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin-top: 0ch;
    padding: 50px;
}

h1 {
    color: white;  
}

h2 {
    text-align: left;
  }

ul li { 
 text-decoration: none;  
 list-style: none;
 display: inline-block;
 float: left;
 padding: 10px;
}

  a {
    display: block;
    font-size: 14px; 
    text-decoration: none;
    font-family: Arial;
    padding-left: 10px;  
    }

h4 {
    color: white;
}

.grid {
    display: grid; /* explicit grid */
    grid-gap: 5px;
    grid: 0.4fr 0.07fr 0.1fr auto 0.1fr / 155px auto;
    grid-template-areas: 
    "h h"
    "n n"
    "s t"
    "s c"
    "f f";
     /* min-height: 100vh; */
}

.header {
    display: flex;
    min-height: 210px;
    justify-content: center;
    align-items: center;
    grid-area: h;
    background-color: #66a0e6;
    
}

.main-nav {
    grid-area: n;
    padding: 0px;
    background: rgb(239, 121, 121);
}

.content {
    grid-area: c;
}

.sidebar {
 grid-area: s;
 padding: 18px;
 text-align: left;
 font-size: 14px;
}

.sidebar {
 grid-area: s;   
}

.footer {
 grid-area: f;
 background-color:#66a0e6;
 font-size: 13px;
 min-height: 60px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.content-title {
    grid-area: t;
    padding: 20px;
}

.subgrid {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-size:12px;
    
}

.card {
    border: 1px solid grey;
    padding: 0px;
    margin: 20px;
    font-family: arial;
    border-radius: 2px 2px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(93, 93, 93, 0.3);
    transition: 0.3s;
    width: 200px;
    height: 200px;
    /* min width apply possible */
 }

 .card-title {
     padding: 15px;
     color: white;
     text-align: center;
     background-color:#66a0e6 ; /* make background image */ 
 }

 .card-body {
     padding: 15px;
     text-align: left;
 }

 .card-text {
     padding-bottom: 5px;
 }

 .card-footer {
    padding: 10px;
    text-align: left;
    border-top: 1px solid grey;
 }


 /* MEDIA QUERIES FOR RESPONSIVE DESIGN W/ flexbox */ 
 /* responsiveness of the page */
        /* for tablet */

     @media only screen 
    and (max-width: 997px)
    and (min-device-width : 768px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "h"
                "n"
                "s"
                "t"
                "c"
                "f"
        }

         .subgrid {
            display: flex;
            flex-wrap: wrap;
         }
         
         .subgrid > .card {
         flex-basis: 20%;
         flex-grow:1;
    }
    
        /* for mobile */

     @media only screen 
    and (max-width: 767px) {
        
    .grid {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-areas:
            "h"
            "n"
            "s"
            "t"
            "c"
            "f";
        }

        .subgrid {
          display: flex;
          flex-wrap: wrap;
        }

        .subgrid > .card {
          flex-basis: 180px;
          flex-grow:1;
        }
      } 

